.advantages {
  background-color: @grey;
}

.advantages__header {
  background-color: @white;
  padding-top: 46px;
  padding-bottom: 70px;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 77px;
    padding-bottom: 72px;
  }
}

.advantages__header-title {
  line-height: 29px;
  margin: 0;
}

.advantages__header-title:first-child {
  margin-bottom: 18px;
}

.advantages__list {
  .list-style-none;
  position: relative;
  margin: 0 6%;
  max-width: 1200px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin: 0;
    padding: 54px 0 0 0;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
  }
}

.advantages__item:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    padding-right: 3%;
    grid-column: 2 / -1;
    min-height: 143px;
  }

  @media (min-width: @desktop-width) {
    max-width: 310px;
    grid-row: 1 / 2;
    margin: 0 auto;
    padding-right: 0;
    grid-column: unset;
  }
}

.advantages__item--science {
  display: none;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 54px 3% 0 3%;
    column-gap: 72px;
    grid-column: 1 / -1;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey;
    grid-column: 1 / -1;
    text-align: left;
    padding: 33px 0 67px 0;
  }
}

.advantages__iphone-image {
  background-color: transparent;
  width: 157px;
  height: 277px;
  margin: 0 auto;
  display: none;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 483px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 308px;
    height: 301px;
  }
}

.advantages__iphone-image--grey {
  background-image: url("../img/advantages-grey-desktop.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 308px 382px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/advantages-grey-desktop@2x.png");
  }
}

.advantages__iphone-image--pink {
  background-image: url("../img/advantages-pink-desktop.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 308px 382px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/advantages-pink-desktop@2x.png");
  }
}

.advantages__iphone-image--smile {
  order: 3;
  display: block;
  background-image: url("../img/advantages-smile-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 157px 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/advantages-smile-mobile@2x.png");
  }


  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    position: absolute;
    display: block;
    top: 0;
    left: 3%;
    background-image: url("../img/advantages-smile-tablet.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 268px 547px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages-smile-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    order: 0;
    background-image: url("../img/advantages-smile-desktop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 308px 382px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages-smile-desktop@2x.png");
    }
  }
}

.advantages__title {
  color: @black;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 15px 0;

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
    margin-top: 24px;
  }
}

.advantages__title--science {
  font-size: 30px;
  line-height: 36px;
}

.advantages__link {
  color: @red;

  &:hover {
    color: @black-lighter;
  }

  &:active {
    color: fade(@black-lighter, 30%);
  }
}

.advantages__text {
  margin: 0 auto 34px auto;
}

.advantages__item--science .advantages__text {
  margin-bottom: 24px;
}
