.advantages {
  background-color: @grey;
}

.advantages__header {
  background-color: @white;
}

.advantages__header-title {
  line-height: 29px;
}

.advantages__title {
  color: @black;
  font-weight: 700;
  font-size: 18px;
}

.advantages__title--science {
  font-size: 30px;
  line-height: 36px;
}

.advantages__list {
  .list-style-none;
}

.advantages__link {
  color: @red;
}
