.contacts__title {
  line-height: 29px;
}

.contacts__text {
  font-size: 18px;
  line-height: 25px;
}

.contacts__list {
  .list-style-none;
}

.contacts__link {
  color: @red;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}
