.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  line-height: 29px;
}

.contacts__text {
  font-size: 18px;
  line-height: 25px;
}

.contacts__list {
  .list-style-none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts__item:nth-child(3n+3) {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.contacts__item {
  @media (min-width: @tablet-width) {
    width: auto;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
  }
}

.contacts__link {
  color: @red;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}
