.download-app {
  background-color: @black-light;
}

.download-app__slogan {
  color: @white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.download-app__list {
  .list-style-none;
}

.download-app__button {
  color: @white;
  padding: 16px 38px;
  box-shadow: inset 0 0 0 3px @white;
  border-radius: 29px;
}

.download-app__text {
  color: @white;
  font-weight: 300;
  line-height: 24px;
}
