.download-app {
  background-color: #1d2631;
}

.download-app__slogan {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.download-app__button {
  color: #ffffff;
  padding: 16px 38px;
  box-shadow: inset 0 0 0 3px #ffffff;
  border-radius: 29px;
}

.download-app__list {
  margin: 0;
  padding: 0;
}

.download-app__text {
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
}
