.main-nav {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

.main-nav__wrapper {
  background-color: #283645;
}
