.os-used {
  background-color: @grey;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: @white;
  }
}

.os-used__list {
  .list-style-none;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

