.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 40px 0;
    margin: 0 3%;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 70px 0 75px 0;
  }
}

.page-footer__logo {
  display: block;
  cursor: pointer;
  margin: 40px 0 41px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  &:hover .page-footer__icon {
    fill: @red;
  }

  &:active .page-footer__icon {
    fill: @black-lighter;
    opacity: 30%;
  }
}

.page-footer__list {
  .list-style-none;
  display: flex;
  margin: 0 auto 41px auto;
  width: 172px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__item {
  &:not(:last-child) {
    margin-right: 14px;
  }
}

.page-footer__link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 0 3px fade(@black-lighter, 10%);

  &:hover {
    box-shadow: 0 0 0 3px @black-lighter;
  }

  &:active {
    opacity: 10%;
    box-shadow: 0 0 0 3px @black-lighter;
  }
}
