.page-form__form {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 940px;
    margin: 0 auto;
    column-gap: 74px;
  }
}

.page-form__sub-title {
  margin: 0;
  padding: 54px 12.9%;

  @media (min-width: @tablet-width) {
    padding: 100px 7% 82px 7%;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-form__sub-sub-title {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.page-form__bottom-container {
  display: flex;
  flex-direction: column;
  padding: 0 3.9%;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    order: 5;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    margin-top: 19px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 0;
    padding: 0;
  }
}

.page-form__button {
  font-size: 18px;
  text-transform: uppercase;
  color: @white;
  line-height: 30px;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
  padding: 23px 0;
  margin: 0;
  min-height: 59px;

  &:hover {
    background-color: @green-dark;
    border-color: @green-dark;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @green-dark;
    border-color: @green-dark;
  }

  @media (max-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @tablet-width) {
    padding: 23px 55px;
  }
}

.page-form__required-text {
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

.page-form__required-symbol {
  color: @red;
}
