.page-form__form {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 936px;
    margin: 0 auto;
  }
}

.page-form__title {
  color: @white;
  line-height: 33px;
}

.page-form__bottom-container {

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    order: 5;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
  }
}

.page-form__button {
  text-transform: uppercase;
  color: @white;
  line-height: 30px;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
}

.page-form__required-text {
  text-transform: uppercase;
  line-height: 30px;
}

.page-form__required-symbol {
  color: @red;
}
