.page-form__title {
  color: @white;
  line-height: 33px;
}

.page-form__button {
  text-transform: uppercase;
  color: @white;
  line-height: 30px;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
}

.page-form__required-text {
  text-transform: uppercase;
  line-height: 30px;
}

.page-form__required-symbol {
  color: @red;
}
