.participant-contacts {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    order: 3;
    padding-top: 44px;
    padding-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    padding-top: 42px;
    padding-bottom: 12px;
  }
}

.participant-contacts__title {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 0 31px;
  }
}

.participant-contacts__list {
  .list-style-none;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 68px;
  }
}

.participant-contacts__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 17px;
  }

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-bottom: 27px;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: @grey-dark;
      right: 2px;
      top: 2px;
      width: 60px;
      height: 58px;
    }

    &:nth-child(1)::after {
      background-image: url("../img/phone-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(2)::after {
      background-image: url("../img/mail-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.participant-contacts__contact-type {
  @media (min-width: @tablet-width) {
    order: 2;
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.participant-contacts__field {
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 59px 0 4%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 59px 0 5.5%;
  }
}

.participant-contacts__field::after {
  content: "222";
  position: absolute;
  background-color: @red;
  top: 0;
}
