.photo-form {
  background-color: @grey;
  max-width: 660px;
  padding: 20px 20px 41px 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 940px;
    margin: 0 auto;
    padding: 57px 3% 54px 3%;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    padding: 57px 60px 57px 80px;
    box-sizing: border-box;
  }
}

.photo-form__tools-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 42px;
  justify-content: space-between;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.photo-form__range-slider-container {
  display: flex;
  flex-direction: column;
}

.photo-form__range-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68px;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);

  @media (min-width: @desktop-width) {
    &:last-child {
      border: none;
    }
  }
}

.photo-form__button-container {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-form__filter-button {
  position: absolute;
  top: 0;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: transparent;
  opacity: 30%;
  width: 48px;
  height: 44px;

  @media (max-width: @tablet-width) {
    &:hover:not(&--active) {
      opacity: 50%;
    }
  }

  @media (min-width: @tablet-width) {
    position: static;
    cursor: unset;
    opacity: 100%;

    & svg {
      transform: scale(0.5);
      fill: @red;
    }
  }

  @media (min-width: @desktop-width) {
    & svg {
      transform: scale(1);
    }
  }
}

.photo-form__filter-button--crop {
  @media (max-width: @tablet-width) {
    left: 30%;
    transform: translateX(-50%);
  }
}

.photo-form__filter-button--fill {
  @media (max-width: @tablet-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.photo-form__filter-button--contrast {
  @media (max-width: @tablet-width) {
    left: 68%;
    transform: translateX(-50%);
  }
}

.photo-form__filter-button--active {
  opacity: 100%;
  cursor: unset;

  & svg {
    fill: @red;
  }
}

.photo-form__button {
  border-radius: 30px;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;

  @media (min-width: @desktop-width) {
    max-width: 40%;
  }
}

.photo-form__button--submit {
  color: @red;
  box-shadow: inset 0 0 0 3px @red;

  &:hover {
    color: @white;
    background-color: @red;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @red;
  }
}

.photo-form__button--reset {
  box-shadow: inset 0 0 0 3px @black-lighter;
  opacity: 10%;

  &:hover {
    opacity: 30%;
  }

  &:active {
    color: @white;
    opacity: 30%;
    background-color: @black-lighter;
  }
}

.photo-form__input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-slider-runnable-track {
    border-radius: 10px/100%;
    height: 2px;
    background-color: @black-lighter;
  }

  &::-webkit-slider-thumb {
    &:active {
      background-color: @red;
    }

    background: @white;
    box-shadow: inset 0 0 0 2px @red;
    border-radius: 50%;
    cursor: pointer;
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
    margin-top: -6px;
  }
}

.photo-form__image {
  display: block;
  margin: 0 auto 42px auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
