.photo-form__button {
  border-radius: 30px;
}

.photo-form__button--submit {
  color: @red;
  box-shadow: inset 0 0 0 3px @red;
}

.photo-form__button--reset {
  box-shadow: inset 0 0 0 3px @black-lighter;
  opacity: 30%;
}
