.rating {
  display: flex;
  margin: auto 6.4% 0 6.4%;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    margin: auto 30px 0 30px;
    padding-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin: auto 31px 0 27px;
  }
}

.rating__text {
  font-size: 12px;
  color: @red;
  text-transform: uppercase;
  margin: 0;
}

.rating__button {
  width: 13px;
  height: 24px;
  background-image: url("../img/heart-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 18px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-right: 0;
    margin-left: 16px;
  }
}
