.upload-photo__title {
  margin: 0;
  padding: 49px 3.9% 52px 3.9%;

  @media (min-width: @tablet-width) {
    padding: 73px 3% 78px 3%;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 67px 0 75px 0;
  }
}
