.upload-photo {
  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.upload-photo__title {
  margin: 0;
  padding: 37px 3.9% 42px 3.9%;

  @media (min-width: @tablet-width) {
    padding: 64px 3% 70px 3%;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 58px 0 67px 0;
  }
}
