.user-post {
  background-color: @grey;
  height: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.user-post__image {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.user-post__item {
  margin: 0 0 17px 0;
  text-align: left;
  padding: 0 3%;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
    padding: 0 30px;
  }
}

.user-post__rating {
  margin: 0 3%;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }
}

.user-post__panoram {
  display: block;
  width: 100vw;
  height: auto;
  position: relative;
  top: 0;
  left: ~ "calc(-50vw + 50%)";
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.user-post__author-name {
  font-weight: 700;
  font-style: normal;
}

.user-post__text {
  margin: 14px 0 0 0;
}

.user-post__time {
  font-weight: 300;
  font-size: 12px;
}

.user-post__wrapper {
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    & .rating {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
