.user-post {
  background-color: @grey;
  height: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.user-post__image {
  display: block;
  height: 100%;
  width: 100%;
}

.user-post__item {
  margin: 16px 0 10px 0;
  text-align: left;
  padding: 0 2% 0 6%;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
    margin-bottom: 0;
    padding: 0 30px;

    &--panoram {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 27px;
  }
}

.user-post__panoram {
  display: inline;
  width: 100vw;
  height: auto;
  position: relative;
  top: 0;
  left: ~ "calc(-50vw + 50%)";

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.user-post__author-name {
  font-weight: 700;
  font-style: normal;
}

.user-post__text {
  margin: 0;
}

.user-post__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.user-post__wrapper {
  position: relative;
  top: -4px;

  @media (min-width: @tablet-width) {
    top: -22px;

    & .user-post__rating {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    top: -18px;
  }
}
